In [144]:
import pandas as pd

In [148]:
cols = ['Obs.','X1','X2','X3','Y']

df = pd.DataFrame([
    (1, 0, 3, 0, 'Red'),
    (2, 2, 0, 0, 'Red'),
    (3, 0, 1, 3, 'Red'),
    (4, 0, 1, 2, 'Green'),
    (5, -1, 0, 1, 'Green'),
    (6, 1, 1, 1, 'Red')
], columns = cols)
df

   Obs.  X1  X2  X3      Y
0     1   0   3   0    Red
1     2   2   0   0    Red
2     3   0   1   3    Red
3     4   0   1   2  Green
4     5  -1   0   1  Green
5     6   1   1   1    Red

In [149]:
df.to_csv('data/ex_27.csv')

In [159]:
X = df[['X1', 'X2', 'X3']]
y = df.Y

In [200]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split

In [201]:
X_test = pd.DataFrame(np.array([(0,0,0)]), columns=['X1', 'X2', 'X3'])
X_test

   X1  X2  X3
0   0   0   0

In [207]:
b = X_test.to_numpy()
for i in range(1, len(df)+1):
    print('Obs.', i)
    a = df[df['Obs.']==i][['X1', 'X2', 'X3']].to_numpy()
    dist = np.linalg.norm(a-b)
    print('Eucl: ', round(dist, 4))
    print('--')

Obs. 1
Eucl:  3.0
--
Obs. 2
Eucl:  2.0
--
Obs. 3
Eucl:  3.1623
--
Obs. 4
Eucl:  2.2361
--
Obs. 5
Eucl:  1.4142
--
Obs. 6
Eucl:  1.7321
--

In [202]:
def fit_k(X_train, y_train, X_test, k):
    knn = KNeighborsClassifier(n_neighbors=k)
    knn.fit(X_train, y_train)
  
    return knn.predict(X_test)

In [203]:
fit_k(X, y, X_test, 1)

array(['Green'], dtype=object)

In [204]:
fit_k(X, y, X_test, 3)

array(['Red'], dtype=object)