# 1 Create:
a)  An atomic vector of your own choice

In [16]:
vec <- 1:10
typeof(vec); vec; length(vec)

[1] "integer"

 [1]  1  2  3  4  5  6  7  8  9 10

[1] 10

b) A list of your own choice

In [15]:
lst <- list(1:10)
typeof(lst); lst; length(lst)

[1] "list"

[[1]]
 [1]  1  2  3  4  5  6  7  8  9 10

[1] 1

c)  An augmented vector of your own choice (You’ll use the attr()) function for this, or create an object that
has attributes associated with it by default

In [30]:
x <- 1:10

attr(x,"dim") <- c(2, 5)

attributes(x)

$dim
[1] 2 5

2)  Create a function called summ2() to be used as argument FUN to function apply() in order to obtain
the minimum, maximum, mean, median, and standard deviation for each of the columns of a matrix.
Demonstrate using this function on a 100 by 5 matrix of standard normal variables (you’ll need function
rnorm() for this). Your answer should be a 5 by 5 matrix.

In [81]:
?apply

In [93]:
mat <- matrix(rnorm(100), nrow = 5)

summ2 <- function(x) {
    matrix(c(
        min(x), max(x), mean(x), median(x), sd(x)
    ), nrow=5, ncol=5)
}

apply(mat, 1, summ2)
# mat

      [,1]       [,2]        [,3]       [,4]        [,5]
 [1,] -2.1497247 -1.74338286 -2.1429158 -2.12656363 -1.7986844
 [2,]  1.3268316  1.50376236  2.0833872  1.43098804  2.6013578
 [3,] -0.1968025 -0.02171044 -0.2671524  0.02313318  0.2006818
 [4,] -0.1111502  0.24465154 -0.3131799  0.05311899  0.3998728
 [5,]  0.9087795  1.00278698  0.9993436  0.86979305  1.1895003
 [6,] -2.1497247 -1.74338286 -2.1429158 -2.12656363 -1.7986844
 [7,]  1.3268316  1.50376236  2.0833872  1.43098804  2.6013578
 [8,] -0.1968025 -0.02171044 -0.2671524  0.02313318  0.2006818
 [9,] -0.1111502  0.24465154 -0.3131799  0.05311899  0.3998728
[10,]  0.9087795  1.00278698  0.9993436  0.86979305  1.1895003
[11,] -2.1497247 -1.74338286 -2.1429158 -2.12656363 -1.7986844
[12,]  1.3268316  1.50376236  2.0833872  1.43098804  2.6013578
[13,] -0.1968025 -0.02171044 -0.2671524  0.02313318  0.2006818
[14,] -0.1111502  0.24465154 -0.3131799  0.05311899  0.3998728
[15,]  0.9087795  1.00278698  0.9993436  0.86979305  1.1895003
[16,] -2.1497247 -1.74338286 -2.1429158 -2.12656363 -1.7986844
[17,]  1.3268316  1.50376236  2.0833872  1.43098804  2.6013578
[18,] -0.1968025 -0.02171044 -0.2671524  0.02313318  0.2006818
[19,] -0.1111502  0.24465154 -0.3131799  0.05311899  0.3998728
[20,]  0.9087795  1.00278698  0.9993436  0.86979305  1.1895003
[21,] -2.1497247 -1.74338286 -2.1429158 -2.12656363 -1.7986844
[22,]  1.3268316  1.50376236  2.0833872  1.43098804  2.6013578
[23,] -0.1968025 -0.02171044 -0.2671524  0.02313318  0.2006818
[24,] -0.1111502  0.24465154 -0.3131799  0.05311899  0.3998728
[25,]  0.9087795  1.00278698  0.9993436  0.86979305  1.1895003

3)  Consider the list created below. Write a short script using lapply() to test which elements in the list are
functions. Then return only those list elements which are functions and assign this result to variable
listSub. Make sure that the function you create will work with arbitrary lists. It is not acceptable to just
figure out yourself which elements contain functions and subset bigList below. Make it automated and
flexible.

In [97]:
##Q3
bigList <- list(x = 1:8, y = data.frame(norm = rnorm(5, 0, 1)), z = function(x) {x}, 
                t1 = function(x, y) {x + y ^ exp(x)}, char = "This is a character",
                t2 = function(lambda) {lambda ^ (1 / pi)})

In [172]:
listSub <- lapply(bigList, function(x) {if(typeof(x) == 'closure') x})
listSub <- listSub[lengths(listSub) != 0]
listSub

$z
function(x) {x}

$t1
function(x, y) {x + y ^ exp(x)}

$t2
function(lambda) {lambda ^ (1 / pi)}

4) Using lapply() on more complicated objects and returing results: You’ll want to use the Lab4.R file
on Canvas in order to recreate the list of dataframes below. To do: use lapply() to iterate over the list of
dataframes and return the row of the data.frame containing the maximum value of x, but only if the
maximum value is greater than or equal to 5. If it is less than 5, return NULL.

In [171]:
##Q4
set.seed(123)
datList <- lapply(1:6, function(t) {
  n <- floor(runif(1, 5, 10))
  data.frame(ID = 1:n, x = rnorm(n, 0, 5))})

res <- lapply(datList, function(mat) { if(mat[mat$x == max(mat$x),]$ID < 5) mat[mat$x == max(mat$x),]$ID})
res

[[1]]
[1] 4

[[2]]
[1] 4

[[3]]
[1] 2

[[4]]
NULL

[[5]]
[1] 1

[[6]]
[1] 1

Finally, take the result and bind together the results by row using do.call() with the appropriate function
arguments. What happens to the NULL list elements?

**The NULL element is removed.**

In [176]:
do.call("rbind", res)

     [,1]
[1,] 4
[2,] 4
[3,] 2
[4,] 1
[5,] 1

In [185]:
?factor

5) Create a simple factor variable in R and name it factor1. Give it three levels of your choice. Then, run
typeof() on this factor. Explain (in your own words) the output you receive. You can read about factors in
R by typing ?factor in the console and hitting enter. The R package forcats is also very helpful for working
with factors. You can read about it here.

**`typeof(factor1)` gives integer as the items stored in the object are encoded as integers**

In [189]:
factor1 <- factor(c("blue", "green", "yellow", "red"), levels = c("red", "green", "blue"), ordered=TRUE);

typeof(factor1)

[1] "integer"

In [184]:
factor1

[1] blue  green <NA>  red
Levels: red < green < blue