In [2]:
import requests
import pandas as pd

In [2]:
!python -m pip install tqdm

Requirement already satisfied: tqdm in c:\users\lenovo\base\lib\site-packages (4.64.1)
Requirement already satisfied: colorama in c:\users\lenovo\base\lib\site-packages (from tqdm) (0.4.5)

[notice] A new release of pip available: 22.2.2 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
# https://www.basketball-reference.com/friv/twitter.html
handles = pd.read_csv('data/nba_twitter_handles.csv')
handles = handles.dropna()[['Player', 'Twitter']]
handles = [tuple(x) for x in handles.to_numpy()]

In [4]:
import json
from tqdm.auto import tqdm

res = []
for name, handle in tqdm(handles):
    req = requests.get(f'https://cdn.syndication.twimg.com/widgets/followbutton/info.json?screen_names={handle}')
    resp = json.loads(req.content)
    if resp:
        resp = resp[0]
        res.append((name, resp.get('followers_count')))

  0%|          | 0/1941 [00:00<?, ?it/s]

In [5]:
df = pd.DataFrame(res)
df.columns = ['PLAYER', 'TWITTER_FOLLOWERS']
df['YEAR'] = 2022

df.sort_values('PLAYER')

               PLAYER  TWITTER_FOLLOWERS  YEAR
1290       A.C. Green              22850  2022
1447      A.J. Lawson               4095  2022
1631       A.J. Price               7914  2022
1645      A.J. Reeves               3745  2022
259    A.J. Slaughter               3942  2022
...               ...                ...   ...
143      Álex Abrines              57950  2022
614     Ángel Delgado               8055  2022
683   Ángel Rodríguez               4807  2022
3           Ömer Aşık              39135  2022
151     İlkan Karaman              19048  2022

[1867 rows x 3 columns]

In [8]:
df.to_csv('data/twitter_followers.csv')

In [14]:
df = pd.read_csv('data/twitter_followers.csv')
df

      Unnamed: 0                 PLAYER  TWITTER_FOLLOWERS  YEAR
0              0          Alexis Ajinça              60953  2022
1              1          Morris Almond               1283  2022
2              2  Giannis Antetokounmpo            2736494  2022
3              3              Ömer Aşık              39135  2022
4              4           Gustavo Ayón               3348  2022
...          ...                    ...                ...   ...
1862        1862             Nick Young             528047  2022
1863        1863         Thaddeus Young              72205  2022
1864        1864      Marcus Zegarowski               5713  2022
1865        1865            Cody Zeller             141965  2022
1866        1866           Tyler Zeller              43493  2022

[1867 rows x 4 columns]